<div class="dialog" style="width:500px;">
    <app-dialog-header title="刪除頻道" [options]="headerOptions"
        cdkDragHandle cdkDrag cdkDragRootElement=".cdk-overlay-pane"></app-dialog-header>
    <app-dialog-body>
        <form [formGroup]="formGroup">
            <div>
                這個頻道內含有多筆發言紀錄，無法直接刪除。<br/>
                你可以選擇將這個頻道的發言紀錄轉移到其他頻道，或是乾脆把其中的所有發言一併刪除。
            </div>

            <div class="paragraph">
                <app-input-title titleText="頻道"></app-input-title>
                <div>{{ getOldChannelName() }}</div>
            </div>

            <div class="paragraph">
                <app-input-title titleText="繼承設定"></app-input-title>
                <label>
                    <input type="checkbox" formControlName="isDeleteRelatedScript">
                    刪除該頻道和頻道內的所有發言。
                </label>
            </div>

            <div class="paragraph" *ngIf="isChannelReplaced()">
                <app-input-title titleText="轉移到新頻道"></app-input-title>
                <select formControlName="newChannelID" >
                    <option *ngFor="let option of optionList" [value]="option.id">{{ option.text }}</option>
                </select>
            </div>

        </form>
    </app-dialog-body>
    <app-dialog-footer [options]="footerOptions"></app-dialog-footer>
</div>