<div class="two-col-frame">
    <div class="left-col">

        <div *ngFor="let item of itemList" class="item-btn clickable"
            [ngClass]="{'active': model == item.id}"
            (click)="SelectItem(item)">
            <div class="name">{{ item.text }}</div>
        </div>

        <div class="plus-btn clickable" (click)="AddItem()">
            <div class="icon" style="background-image: url('assets/images/plus.png');"></div>
            {{ text }}
        </div>

    </div>
    <div class="right-col">
        <div *ngIf="isModelSelected()">
            <ng-content></ng-content>
        </div>
    </div>
</div>
