<app-tab-layer titleText="Editor-Script-Title" text="Editor-Script-Description" >
    
    <!-- Button List -->
    <div class="button-bar">
        <app-icon-button type="undo" (click)="Undo()"></app-icon-button>
        <app-icon-button type="redo" (click)="Redo()"></app-icon-button>
        <app-icon-button type="save" text="儲存" (click)="Save()"></app-icon-button>
    </div>

    <!-- Entry List -->
    <div class="script-edit-panel" cdkDropList (cdkDropListDropped)="OnDrop($event)">
        
        <div class="script-starter-outer">
            <div class="script-bookmark"> 文件開頭 </div>
            <div class="plus-btn-outer">
                <div class="plus-btn clickable" (click)="AddEntry(-1)" title="新增段落"></div>
            </div>
        </div>

        <div *ngFor="let entry of entryList; index as idx" class="entryItem" cdkDrag >
            
            <div [ngClass]="getEntryClass(entry)">
                <div class="entry-header">
                    <div class="dragable" cdkDragHandle>=</div>
                    <div class="title" [ngStyle]="getEntryTitleStyle(entry)">{{ getEntryTitle(entry) }}</div>
                    <div class="func-btn-list">
                        <app-icon-button type="edit"   text="編輯" (click)="EditEntry(entry, idx)"   *ngIf="isShowEdit(entry)"></app-icon-button>
                        <app-icon-button type="delete" text="刪除" (click)="DeleteEntry(entry, idx)"></app-icon-button>
                    </div>
                </div>
                <div *ngIf="isTalkEntry(entry)"  class="content" [innerHtml]="entry.content"></div>
                <div *ngIf="isBgImgEntry(entry)" class="content">
                    <img [src]="entry.content">
                </div>
            </div>

            <!-- Footer for Buttons -->
            <div class="plus-btn-outer" >
                <div class="plus-btn clickable" (click)="AddEntry(idx)" title="新增段落"></div>
            </div>
        </div>

        <div class="script-bookmark"> 文件結尾 </div>
    </div>

</app-tab-layer>