.script-edit-panel {
    flex-grow: 1;
    min-height: 0;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: .5em;

    background-color: rgba(0, 0, 0, 0.9);
    padding: .5em;
}

.script-starter {
    border-radius: 5px;
    margin: 0 30%;
    padding: 3px 0;
    background: #fff;
    color: black;

    font-size: 0.8rem;
    text-decoration: underline;
    text-align: center;
}

.entry-header {
    display: flex;
    align-items: center;
    gap: 3px;
}

.talk {
    padding-left: 2rem;
}
.talk.main {
    padding-left: 0;
}

.talk .entry-header {
    background: #363638;
}
.talk .entry-header .talk-actor {
    padding: 5px 0;
}
.talk .talk-content {
    padding: 5px 10px 5px 23px;
    font-size: 0.9rem;
    background: black;
    color: white;
}
.talk.main .talk-content {
    background: #ddd;
    color: black;
}


.special .entry-header {
    background: #005fa3;
}
.special .title {
    padding: 5px 0;
    font-size: 0.8rem;
    color: white;
}


.entryItem .dragable {
    cursor: grab;
    width: 20px;
    flex-grow: 0;
    flex-shrink: 0;

    text-align: center;
    color: #ffffff60;
}