<app-tab-layer titleText="團錄編輯" text="你可以在這邊編輯並預覽你的團錄文件。" >
    <div class="button-bar"></div>


    <div class="script-edit-panel" cdkDropList (cdkDropListDropped)="OnDrop($event)">
        <div class="script-starter">文件開頭</div>

        @for (entry of entryList; track entry) {
            <div class="entryItem" cdkDrag >
                
                <!-- Talk -->
                <div *ngIf="isTalkEntry(entry)" class="talk" [ngClass]="entry.channel">
                    <div class="entry-header">
                        <div class="dragable" cdkDragHandle>=</div>
                        <div class="talk-actor" [ngStyle]="{'color':getTalkActorColor(entry)}">{{ getTalkActorName(entry) }}</div>
                    </div>
                    <div class="talk-content" [innerHtml]="entry.content"></div>
                </div>

                <!-- Halt -->
                <div *ngIf="isHaltEntry(entry)" class="special">
                    <div class="entry-header">
                        <div class="dragable" cdkDragHandle>=</div>
                        <div class="title">分段符號</div>
                    </div>
                </div>

                <!-- Title -->
                <div *ngIf="isTitleEntry(entry)" class="special">
                    <div class="entry-header">
                        <div class="dragable" cdkDragHandle>=</div>
                        <div class="title">段落標題：{{ entry.content }}</div>
                    </div>
                </div>

                <!-- Bg Image -->
                <div *ngIf="isBgImgEntry(entry)" class="special">
                    <div class="entry-header">
                        <div class="dragable" cdkDragHandle>=</div>
                        <div class="title">顯示背景圖片</div>
                    </div>
                    <div class="content"></div>
                </div>

            </div>
        }
    </div>

</app-tab-layer>