.script-edit-panel {
    flex-grow: 1;
    min-height: 0;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: .5em;

    background-color: rgba(0, 0, 0, 0.9);
    padding: .5em;
}

.script-starter {
    border-radius: 5px;
    margin: 0 30%;
    padding: 3px 0;
    background: #fff;
    color: black;

    font-size: 0.8rem;
    text-decoration: underline;
    text-align: center;
}

/* Entry Structure */
.entry-header {
    display: flex;
    align-items: center;
    gap: 3px;
}
.entry-header .dragable {
    cursor: grab;
    width: 20px;
    flex-grow: 0;
    flex-shrink: 0;

    text-align: center;
    color: #ffffff60;
}
.entry-header .title {
    flex-grow: 1;
}


.talk .entry-header {
    background: #363638;
}
.talk .entry-header .title {
    padding: 5px 0;
}
.talk .content {
    padding: 5px 10px 5px 23px;
    font-size: 0.9rem;
    background: black;
    color: white;
}
.talk.main .content {
    background: #ddd;
    color: black;
}

.special .entry-header {
    background: #005fa3;
}
.special .entry-header .title {
    padding: 5px 0;
    font-size: 0.8rem;
    color: white;
}




.entryItem .func-btn-list,
.entryItem .add-icon {
    display: none;
}
.entryItem:hover .func-btn-list,
.entryItem:hover .add-icon {
    display: flex;
    gap: 3px;
}
