.HeaderBarOuter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color:white;
	padding-top: 10px;
	margin: 0 10px;
	margin-bottom: 1rem;
	gap: 10px;
}

.HeaderBarOuter .HeaderBar_Title,
.HeaderBarOuter .HeaderBar_Navbar {
	width: 100%;
	max-width: 1200px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

/* Title */
.HeaderBar_Title {
	gap: 10px;
}
#WebIcon {
	width: 60px;
	height: 60px;
	background-image: url("../favicon.png");
	background-size: cover;
	align-self: flex-end;
	flex-shrink: 0;
}
#WebTitle {
	font-size: 32px;
	flex-shrink: 0;
}
#WebVersion {
	flex-shrink: 1;
}

@media only screen and (max-width: 400px) {
  #WebVersion { display:none; }
}

/* NavBar */
.HeaderBar_Navbar {
	background: var(--color-navbar-bg);
	border-color: var(--color-navbar-border);
	border-width: 1px 0;
	border-style: solid;

	display: flex;
	align-items: baseline;
	gap: 5px;
}
.HeaderBar_Navbar .navbtn {
	padding: 5px 10px;
	color: var(--color-navbtn-text);
}
.HeaderBar_Navbar .navbtn:hover {
	background-color: #0000003b;
	color: var(--color-navbtn-text-hover);
}
.HeaderBar_Navbar .navbtn.active {
	background-color: #0000003b;
	color: var(--color-navbtn-text-hover);
}


/* BodyPanel */
.BodyPanelOuter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.BodyPanelOuter .BodyPanel {
	width: 100%;
	max-width: 1200px;
	color: gray;
}