.btn-icon-outer {
    display: flex;
    cursor: pointer;
}
.btn-icon-outer:hover {
    background-color: #0000003b;
}
.btn-icon-outer.disabled {
    background-color: #ffffff26 !important;
    cursor: no-drop;
}
.btn-icon-outer.disabled .clickable {
    cursor: no-drop !important;
}


.btn-icon {
    width: 16px;
    height: 16px;
    padding: 2px;

    border: 1px solid #ffffff40;
    background-size: cover;
}
.textLabel {
    font-size: 14px;
    color: white;
    padding: 0 5px;
    border: 1px solid #ffffff40;
}