<app-base-layer>
    <app-panel-nav-bar>
        <app-panel-nav-button 
            *ngFor="let navKey of navbarArr" 
            [key]="navKey"
            [isActive]="currentTabKey==navKey"
            (click)="clickTab(navKey)"
        ></app-panel-nav-button>
    </app-panel-nav-bar>
    
    <!-- MainPanel -->
    <div class="EditPanelBase">
        <app-editor-import  *ngIf="currentTabKey=='import'" [control]="control" ></app-editor-import>
        <app-editor-export  *ngIf="currentTabKey=='export'"></app-editor-export>
        <app-editor-actor   *ngIf="currentTabKey=='actors'"></app-editor-actor>
        <app-editor-script  *ngIf="currentTabKey=='scripts'"></app-editor-script>

    </div>
</app-base-layer>
