.TabLayer {
    padding: 1rem;

    background: var(--color-main-panel-bg);
    color: black;

    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
}

.TabLayer .description {
    margin-top: 0;
    margin-bottom: 20px;
}