/* You can add global styles to this file, and also import other style files */
:root {
	--color-background: #070f17;
	--color-background2: #2a232c;
	--color-navbar-bg: #313358;
	--color-navbar-border: #4e5073;
	
	--color-navbtn-text: #d7c6ff;
	--color-navbtn-text-hover: #f2edff;
	--color-body-panel-ground: #312e3d;
}

html {
	min-width: 350px;
	
}
body {
	margin: 0;
	background: linear-gradient(var(--color-background), var(--color-background2)) fixed;
}

.clickable {
	cursor: pointer;
}