/* You can add global styles to this file, and also import other style files */
:root {
	--color-background: #070f17;
	--color-background2: #2a232c;
	--color-navbar-bg: #313358;
	--color-navbar-border: #4e5073;
	
	--color-navbtn-text: #d7c6ff;
	--color-navbtn-text-hover: #f2edff;
	
	--color-panel-navbar-bg: #19191c;
	--color-panel-navbtn-bg: #3a3d4b;
	--color-panel-navbtn-bg-hover:  #676672;
	--color-panel-navbtn-bg-active: #333361;

	--color-main-panel-bg: #cdd2db;

	--color-apply-btn-bg: #34446e;
	--color-apply-btn-bg-hover: #5b6b95;
	--color-apply-btn-bg-active: #333361;
}

html {
	min-width: 350px;
	
}
body {
	margin: 0;
	background: linear-gradient(var(--color-background), var(--color-background2)) fixed;
}

h2 {
    margin-top: 0;
}
hr {
	border-style: solid;
	border-color: #00000060;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

input[type=text] {
	height: 20px;
}

.paragraph {
	margin-top:    10px;
	margin-bottom: 10px;
}
.fullWidth {
	width: 100%;
}
.clickable {
	cursor: pointer;
}
.hidden {
	display: none;
}